{% extends('/Layout/index.html') %} {% block body %}
<div class="row">
  <div class="col-3 pe-5">
    <div class="card" style="width: 100%">
      <img
        src="/public/img/student.png"
        class="mx-2 mt-2"
        alt="Icone do perfil do funcionário"
      />
      <div class="background-primary mt-4 text-center px-2 py-2 fs-4">
        {{student.getName()}}
      </div>
      <div class="card-body">
        <p class="card-text">Matrícula: {{student.getMatriculation()}}</p>
        <p class="card-text">
          CPF: <span id="profileDocument">{{student.getDocument()}}</span>
        </p>
        <p class="card-text">
          Nascimento: <span id="date">{{student.getDateOfBirth()}}</span>
        </p>
        <p class="card-text">
          Ativo: {% if student.getActive() == 1 %}
          <span class="text-success">Sim</span>
          {% endif %}{% if student.getActive() == 0 %}
          <span class="text-danger">Não</span>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  <div class="col-9 ps-5">
    <div class="row">
      <div class="col-6">
        <p class="text-muted">Alunos &raquo; Detalhes</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <!-- TODO: implement edit and disabled -->
        <a type="button" class="btn btn-primary">Editar</a>
        {% if student.getActive() == 1 %}
        <a type="button" class="btn btn-danger ms-1">Desativar</a>
        {% endif %} {%if student.getActive() == 0 %}
        <a type="button" class="btn btn-success ms-1">Ativar</a>
        {% endif %}
      </div>
    </div>

    <div class="card mt-4">
      <div class="background-primary px-3 py-2 fs-4">Contato</div>
      <div class="card-body">
        <p>Email: {{student.getEmail()}}</p>
        <p>Telefone: <span id="phone">{{student.getPhone()}}</span></p>
      </div>
    </div>

    <div class="card mt-4">
      <div class="background-primary px-3 py-2 fs-4">Turmas</div>
      <div class="card-body">
        <form method="post" action="/alunos/{{student.getId()}}/turmas">
          <div class="form-group row">
            <label for="schoolClass" class="col-2 col-form-label">Turma:</label>
            <div class="col-8">
              <select name="schoolClass" class="form-control">
                <option selected>Escolha...</option>
                {% for schoolClass in schoolClassesAvailable %}
                <option value="{{schoolClass.id}}">
                  {{schoolClass.identifier}}_{{schoolClass.year}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-2">
              <input type="submit" class="btn btn-primary" value="Adicionar" />
            </div>
          </div>
        </form>

        <div class="mt-4">
          {% if not schoolClasses %}
          <p>Não está matriculado em nenhuma turma.</p>
          {% else %}
          <ul class="list-group">
            {% for schoolClass in schoolClasses %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-6">
                  <span>
                    {{schoolClass.identifier}}_{{schoolClass.year}} |
                    {{schoolClass.status}}
                  </span>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <!-- TODO: implement change status -->
                  <a href="#" class="btn btn-outline-primary ms-2">Editar</a>
                  <a href="#" class="btn btn-outline-danger ms-2">Excluir</a>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/public/js/format.js"></script>
<script>
  const phone = document.getElementById("phone");
  const profileDocument = document.getElementById("profileDocument");
  const date = document.getElementById("date");

  phone.innerHTML = formatPhone(phone.innerHTML);
  profileDocument.innerHTML = formatDocument(profileDocument.innerHTML);
  date.innerHTML = formatDate(date.innerHTML);
</script>
{% endblock %}
