<h1>Adicionar Professor</h1>

<form method="POST" action="/funcionarios/professores/adicionar">
  <label class="w3-text-blue">Nome</label>
  <input class="w3-input w3-border" type="text" name="name" required>
   
  <label class="w3-text-blue">Data de nascimento</label>
  <input class="w3-input w3-border" type="date" name="birthDate" required>

  <label class="w3-text-blue">Documento</label>
  <input class="w3-input w3-border" type="text" name="document" required>

  <label class="w3-text-blue">Email</label>
  <input class="w3-input w3-border" type="email" name="email" required>

  <label class="w3-text-blue">Formação</label>
  <input class="w3-input w3-border" type="text" name="formation" required>
  
  <button class="w3-btn w3-blue w3-margin-top">Adicionar</button>
</form>
