<tr>
  <td>{{startTime}} - {{endTime}}</td>
  <td class="subject">
    <span id="id" class="w3-hide">{{id0}}</span>
    <span id="subject">{{subject0}}</span>
    <a href="/professores/{{idTeacher0}}" class="w3-hide">
      <span id="teacher">{{teacher0}}</span>
    </a>
  </td>
  <td class="subject">
    <span id="id" class="w3-hide">{{id1}}</span>
    <span id="subject">{{subject1}}</span>
    <a href="/professores/{{idTeacher1}}" class="w3-hide">
      <span id="teacher">{{teacher1}}</span>
    </a>
  </td>
  <td class="subject">
    <span id="id" class="w3-hide">{{id2}}</span>
    <span id="subject">{{subject2}}</span>
    <a href="/professores/{{idTeacher2}}" class="w3-hide">
      <span id="teacher">{{teacher2}}</span>
    </a>
  </td>
  <td class="subject">
    <span id="id" class="w3-hide">{{id3}}</span>
    <span id="subject">{{subject3}}</span>
    <a href="/professores/{{idTeacher3}}" class="w3-hide">
      <span id="teacher">{{teacher3}}</span>
    </a>
  </td>
  <td class="subject">
    <span id="id" class="w3-hide">{{id4}}</span>
    <span id="subject">{{subject4}}</span>
    <a href="/professores/{{idTeacher4}}" class="w3-hide">
      <span id="teacher">{{teacher4}}</span>
    </a>
  </td>
  <td class="subject">
    <span id="id" class="w3-hide">{{id5}}</span>
    <span id="subject">{{subject5}}</span>
    <a href="/professores/{{idTeacher5}}" class="w3-hide">
      <span id="teacher">{{teacher5}}</span>
    </a>
  </td>
  <td class="subject">
    <span id="id" class="w3-hide">{{id6}}</span>
    <span id="subject">{{subject6}}</span>
    <a href="/professores/{{idTeacher6}}" class="w3-hide">
      <span id="teacher">{{teacher6}}</span>
    </a>
  </td>
</tr>
