<div class="w3-bar w3-blue">
  <a href="/dashboard" class="w3-bar-item w3-button">Gestão Escolar</a>
  <a href="/funcionario/listar" class="w3-bar-item w3-button">Funcionários</a>
  <a href="/funcionario/alunos" class="w3-bar-item w3-button">Alunos</a>
  <a href="/funcionario/turmas" class="w3-bar-item w3-button">Turmas</a>
  <a href="/funcionario/materias" class="w3-bar-item w3-button">Matérias</a>
  <a href="/funcionario/professores" class="w3-bar-item w3-button">
    Professores
  </a>

  <div class="w3-dropdown-hover w3-right">
    <button class="w3-button">{{name}}</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="/funcionario/perfil" class="w3-bar-item w3-button">Perfil</a>
      <a href="/logout" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
</div>
