<div class="w3-bar w3-cyan">
  <a href="/professores" class="w3-bar-item w3-button">Gestão Escolar</a>
  <a href="/professores/minhas-turmas" class="w3-bar-item w3-button">Turmas</a>

  <div class="w3-dropdown-hover w3-right">
    <button class="w3-button">{{name}}</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="/professores/perfil" class="w3-bar-item w3-button">Perfil</a>
      <a href="/professores/logout" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
</div>
