{% extends('/Layout/index.html') %} {% block body %}
<div class="row">
  <div class="col-3 pe-5">
    <div class="card" style="width: 100%">
      <div class="background-primary text-center px-2 py-2 fs-4">
        {{schoolClass.getIdentifier}}_{{schoolClass.year}}
      </div>
      <div class="card-body">
        <p class="card-text">
          Alunos: {{total}}/{{schoolClass.getMaxStudents()}}
        </p>
      </div>
    </div>
  </div>
  <div class="col-9 ps-5">
    <div class="row">
      <div class="col-6">
        <p class="text-muted">Turmas &raquo; Detalhes</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <!-- TODO: implement edit -->
        <a type="button" class="btn btn-primary">Editar</a>
      </div>
    </div>

    <div class="card mt-4">
      <div class="background-primary px-3 py-2 fs-4">
        <div class="row">
          <div class="col-6">Horários</div>
          <div class="col-6 d-flex justify-content-end">
            <a href="#" class="btn btn-primary">Adicionar</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- TODO: implement schedules -->
        <p>Não há horários na turma.</p>
      </div>
    </div>

    <div class="card mt-4">
      <div class="background-primary px-4 py-2 fs-4">Alunos</div>
      <div class="card-body">
        {% if students %}
        <ul class="list-group">
          {% for student in students %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                <a
                  href="/alunos/{{student.id}}"
                  class="text-decoration-none text-body"
                >
                  {{student.name}} | {{student.document}}
                </a>
              </div>
              <div class="col-6 d-flex justify-content-end">
                <!-- TODO: implement change status -->
                <a href="#" class="btn btn-outline-warning ms-2">Editar</a>
                <a href="#" class="btn btn-outline-danger ms-2">Excluir</a>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>Não há alunos na turma.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
