.card {
  border: 0;
}

.background-black {
  background-color: #132237;
}

.bg-y-primary {
  background-color: #f7b948;
  border: #132237 2px solid;
}
.bg-y-secondary {
  background-color: #f9daa3;
}

.bg-b-primary {
  background-color: #438d98;
  border: #132237 2px solid;
}
.bg-b-secondary {
  background-color: #93c9d1;
}

.bg-r-primary {
  background-color: #ec4c4c;
  border: #132237 2px solid;
}
.bg-r-secondary {
  background-color: #f59595;
}

.text-error {
  color: #ec4c4c;
}

.text-white {
  color: #f5f5f5;
}

.icon-card {
  width: 120px;
  max-width: 100%;
}
