<h1>Adicionar Turma</h1>

<form method="POST" action="/turmas/adicionar">
  <label class="w3-text-blue">Série</label>
  <input class="w3-input w3-border" type="text" name="number" required>
   
  <label class="w3-text-blue">Idenificador</label>
  <input class="w3-input w3-border" type="text" name="identifier" required>

  <label class="w3-text-blue">Ano</label>
  <input class="w3-input w3-border" type="number" name="year" required>

  <label class="w3-text-blue">Máximo de alunos</label>
  <input class="w3-input w3-border" type="number" name="maxStudents" required>

  <button class="w3-btn w3-blue w3-margin-top">Adicionar</button>
</form>
