<div class="w3-row w3-margin-top">
  <div class="w3-col s3 w3-padding">
    <div class="w3-card-4">
      <div class="w3-container w3-center w3-blue">
        <p>{{number}}-{{identifier}}</p>
      </div>

      <div class="w3-container">
        <p>Total de alunos: {{totalStudents}} / {{maxStudents}}</p>
        <p>Total de matérias: {{totalSubjects}}</p>
      </div>

      <div class="w3-container w3-padding">
        <a href="#" class="w3-button w3-blue w3-round-xxlarge"
          >Adicionar aluno</a
        >
      </div>
    </div>
  </div>

  <div class="w3-col s9 w3-padding">
    <div class="w3-card-4 w3-margin-bottom">
      <div class="w3-container w3-blue">
        <div class="w3-row">
          <div class="w3-col s6">
            <p>Horários</p>
          </div>
          <div class="w3-col s6">
            <a href="/horarios/adicionar/{{id}}" class="w3-btn w3-green w3-round-xxlarge w3-right">Adicionar horário</a>
          </div>
        </div>
      </div>
      <div class="w3-container w3-padding">
        {{tableSchedules}}
      </div>
    </div>

    <div class="w3-card-4">
      <div class="w3-container w3-blue">
        <p>Alunos</p>
      </div>
      <div class="w3-container w3-padding">{{tableStudents}}</div>
    </div>
  </div>
</div>
