<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestão Escolar</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="w3-container">
      <div class="w3-cell-row">
        <div class="w3-card w3-margin">
          <div class="w3-container w3-blue w3-margin-bottom">
            <h2>Funcionários</h2>
          </div>
          <form action="" method="post" class="w3-padding">
            <label for="email" class="w3-margin-top">Email</label>
            <input
              type="text"
              name="email"
              id=""
              placeholder="exemplo@mail.com"
              class="w3-input w3-border w3-border-blue"
            />

            <label for="password">Senha</label>
            <input
              type="password"
              name="password"
              id=""
              placeholder="********"
              class="w3-input w3-border w3-border-blue"
            />
            <input
              type="button"
              type="submit"
              value="Entrar"
              class="w3-btn w3-blue w3-margin-top"
            />
          </form>
        </div>

        <div class="w3-card w3-margin">
          <div class="w3-container w3-cyan w3-margin-bottom">
            <h2>Professores</h2>
          </div>
          <form action="" method="post" class="w3-padding">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              placeholder="exemplo@mail.com"
              class="w3-input w3-border w3-border-cyan"
            />

            <label for="password">Senha</label>
            <input
              type="password"
              name="password"
              id=""
              placeholder="********"
              class="w3-input w3-border w3-border-cyan"
            />
            <input
              type="button"
              type="submit"
              value="Entrar"
              class="w3-btn w3-cyan w3-margin-top"
            />
          </form>
        </div>

        <div class="w3-card w3-margin">
          <div class="w3-container w3-blue-gray w3-margin-bottom">
            <h2>Alunos</h2>
          </div>
          <form action="" method="post" class="w3-padding">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              id=""
              placeholder="exemplo@mail.com"
              class="w3-input w3-border w3-border-blue-gray"
            />

            <label for="password">Senha</label>
            <input
              type="password"
              name="password"
              id=""
              placeholder="********"
              class="w3-input w3-border w3-border-blue-gray"
            />
            <input
              type="button"
              type="submit"
              value="Entrar"
              class="w3-btn w3-blue-gray w3-margin-top"
            />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
